@inherits LayoutComponentBase

<div class="container-bar">
    
   <SideBar bankAccount="BankAccountStatic.BankAccount"></SideBar>
    <main class="body-main" style="width:100vw;padding-left:20px">@Body</main>
</div>



