@page "/"

<PageTitle>Home</PageTitle>

<div class="main-home">
    <div class="photo">
        <div class="photo-title">
            <h1>The Bank Of Your Dream</h1>
            <div class="btn-link">
                <NavLink href="login">
                    <button class="log-a">Login</button>
                </NavLink>
            </div>
        </div>

    </div>
</div>

@*<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, Guest!</h1>
    </NotAuthorized>
</AuthorizeView>*@

